// Neutrals colors
$black: #000000;
$gray-10: #131316;
$gray-25: #1A1A1E;
$gray-50: #3F3F46;
$gray-100: #51525C;
$gray-200: #70707B;
$gray-300: #A0A0AB;
$gray-400: #D1D1D6;
$gray-500: #E4E4E7;
$gray-600: #FAFAFA;
$white: #FFFFFF;

// Theme colors
$active-border: #84CAFF;
$active-border-dark: #53B1FD;
$active-shadow: #2E90FA3D;
$error-border: #FDA29B;
$error-border-dark: #F97066;
$error-red-dark: #F04438;
$error-red: #D92D20;
$error-shadow: #F044383D;
