@import "../src/styles/partials/theme";

.inputLabel {
  display: flex;
  align-items: center;
  gap: 6px;

  p {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: $gray-25;
  }

  .asterisk {
    color: $error-red;
  }

  div svg {
    width: 12px;
    height: 12px;
    color: $gray-300;
    cursor: pointer;
  }
}

.inputLabelLarge {
  p {
    font-size: 14px;
    line-height: 24px;
    color: $gray-25;
  }

  div svg {
    width: 14px;
    height: 14px;
  }
}

.inputLabelDisabled p {
  color: $gray-200;
}