.inputLabel {
  display: flex;
  align-items: center;
  gap: 6px;

  p {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: #1A1A1E;
  }

  .asterisk {
    color: red;
  }

  div svg {
    width: 12px;
    height: 12px;
    color: #A0A0A0;
    cursor: pointer;
  }
}

.inputLabelLarge {
  p {
    font-size: 14px;
    line-height: 24px;
    color: #1A1A1E;
  }

  div svg {
    width: 14px;
    height: 14px;
  }
}

.inputLabelDisabled p {
  color: #70707B;
}