.inputLabel {
  display: flex;
  align-items: center;
  gap: 6px;

  p {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: var(--text-primary);
  }

  .asterisk {
    color: var(--error-red);
  }

  div svg {
    width: 12px;
    height: 12px;
    color: var(--text-quinary);
    cursor: pointer;
  }
}

.inputLabelLarge {
  p {
    font-size: 14px;
    line-height: 24px;
  }

  div svg {
    width: 14px;
    height: 14px;
  }
}

.inputLabelDisabled p {
  color: var(--text-tertiary);
}