@import "../src/styles/partials/theme";

.inputAnnotation {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: $gray-100;
}

.inputAnnotationLarge {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.inputAnnotationError {
  color: $error-red;
}

.inputAnnotationDisabled {
  color: $gray-400;
}

.inputAnnotationDark {
  color: $gray-300;

  &.inputAnnotationError {
    color: $error-border-dark;
  }

  &.inputAnnotationDisabled {
    color: $gray-50;
  }
}
