.inputAnnotation {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #51525C;
}

.inputAnnotationLarge {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.inputAnnotationDisabled {
  color: #D1D1D6;
}

.inputAnnotationError {
  color: #D92D20;
}