@import "src/styles/partials/theme";

.inputText {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 120px;
  background-color: var(--background);
  border: 1px solid $gray-400;
  border-radius: 4px;
  box-shadow: 0 0 0 0 $active-shadow;
  transition: box-shadow 0.1s ease;
  padding: 8px 12px;

  input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 12px;
    line-height: 20px;
    color: var(--text-primary);
    text-overflow: ellipsis;
    background-color: transparent;

    &::placeholder {
      font-weight: 400;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
    }
  }

  .iconContainer {
    width: 20px;
    height: 20px;
    display: flex;
    cursor: pointer;

    svg {
      color: $gray-300;
    }
  }
}

.inputText:focus-within {
  border-color: var(--active-border);
  box-shadow: 0 0 0 4px $active-shadow;
}

.inputTextLarge {
  padding: 10px 12px;
}

.inputTextXLarge {
  padding: 12px 12px;
}

.inputTextLarge input,
.inputTextXLarge input {
  font-size: 14px;
  line-height: 24px;
}

.inputTextXSmall {
  padding: 2px 12px;

  .iconContainer {
    width: 16px;
    height: 16px;
  }
}

.inputTextError {
  border-color: $error-border;
  box-shadow: 0 0 0 0 $error-shadow;

  &:focus-within {
    border-color: $error-border;
    box-shadow: 0 0 0 4px $error-shadow;
  }

  .iconContainer svg {
    color: $error-red;
  }
}

.inputTextDisabled {
  border-color: $gray-400;
  box-shadow: none;

  input {
    color: $gray-400;

    &::placeholder {
      color: $gray-400;
    }
  }

  .iconContainer svg {
    color: $gray-400;
  }
}

.inputTextQuiet {
  border: none;
  box-shadow: none;

  &:focus-within {
    border-color: transparent;
    box-shadow: none;
  }
}
//.inputTextDark {
//  input {
//    border-color: $gray-100;
//    color: $gray-600;
//    background-color: $gray-10;
//
//    &:focus {
//      border-color: $active-border-dark;
//      caret-color: $gray-600;
//    }
//  }
//
//  .iconContainer svg {
//    color: $gray-300;
//  }
//
//  &.inputTextError input {
//    border-color: $error-border-dark;
//    box-shadow: 0 0 0 0 $error-shadow;
//
//    &:focus {
//      border-color: $error-border-dark;
//      box-shadow: 0 0 0 4px $error-shadow;
//    }
//  }
//
//  &.inputTextError .iconContainer svg {
//    color: $error-red-dark;
//  }
//
//  &.inputTextQuiet input {
//    box-shadow: none;
//
//    &:focus {
//      box-shadow: none;
//    }
//  }
//
//  input:disabled {
//    border-color: $gray-100;
//    color: $gray-50;
//
//    &::placeholder {
//      color: $gray-50;
//    }
//  }
//
//  input:disabled ~ .iconContainer svg,
//  input:disabled ~ .afterIcons .iconContainer svg {
//    color: $gray-200;
//  }
//}

