@import "../src/styles/partials/theme";

.inputText {
  position: relative;
  flex: 1;
  min-width: 120px;

  input {
    border-radius: 4px;
    width: 100%;
    border: 1px solid $gray-400;
    padding: 8px 12px;
    outline: none;
    box-shadow: 0 0 0 0 $active-shadow;
    transition: box-shadow 0.1s ease;
    font-size: 12px;
    line-height: 20px;
    color: $gray-25;
    text-overflow: ellipsis;
    background-color: $white;

    &:focus {
      border-color: $active-border;
      box-shadow: 0 0 0 4px $active-shadow;
      caret-color: $gray-25;
    }

    &::placeholder {
      font-weight: 400;
    }

    &:disabled {
      border-color: $gray-400;
      color: $gray-400;
      cursor: not-allowed;

      &::placeholder {
        color: $gray-400;
      }
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
    }
  }

  .iconContainer {
    width: 22px;
    height: 22px;
    cursor: pointer;

    svg {
      color: $gray-300;
    }
  }

  .iconBefore,
  .afterIcons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .iconBefore {
    left: 12px;
  }

  .afterIcons {
    height: 22px;
    right: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .iconAfterSecond {
    padding: 3px;
    display: flex;
  }
}

.inputTextSingleAfterIcon input {
  padding-right: 40px;
}

.inputTextDoubleAfterIcon input {
  padding-right: 62px;
}

.inputTextXSmall {
  input {
    padding: 2px 12px;
  }

  .iconContainer {
    width: 16px;
    height: 16px;
  }

  .iconBefore,
  .afterIcons {
    top: 50%;
    transform: translateY(-50%);
  }

  .iconAfterSecond {
    padding: 0;
    width: 12px;
    height: 12px;
  }
}

.inputTextLarge input,
.inputTextXLarge input {
  font-size: 14px;
  line-height: 24px;
}

.inputTextXLarge input {
  padding: 12px;
}

.inputTextError input {
  border-color: $error-border;
  box-shadow: 0 0 0 0 $error-shadow;

  &:focus {
    border-color: $error-border;
    box-shadow: 0 0 0 4px $error-shadow;
  }
}

.inputTextQuiet input {
  border: none;
  box-shadow: none;

  &:focus {
    border-color: transparent;
    box-shadow: none;
  }
}

.inputTextIconBefore input {
  padding-left: 40px;
}

.inputTextXSmall.inputTextIconBefore input {
  padding-left: 30px;
}

.inputTextSmall .afterIcons {
  height: 16px;
}

.inputTextXSmall.inputTextSingleAfterIcon input {
  padding-right: 30px;
}

.inputTextXSmall.inputTextDoubleAfterIcon input {
  padding-right: 48px;
}

.inputTextError .iconContainer svg {
  color: $error-red;
}

.inputText input:disabled ~ .iconContainer svg {
  color: $gray-400;
}

