.inputText {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 120px;
  background-color: var(--background);
  border: 1px solid var(--default-border);
  border-radius: 4px;
  box-shadow: 0 0 0 0 var(--active-shadow);
  transition: box-shadow 0.1s ease;
  padding: 8px 12px;

  input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 12px;
    line-height: 20px;
    color: var(--text-primary);
    text-overflow: ellipsis;
    background-color: transparent;

    &::placeholder {
      font-weight: 400;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
    }
  }

  .iconContainer {
    width: 20px;
    height: 20px;
    display: flex;
    cursor: pointer;

    svg {
      color: var(--text-quinary);
    }
  }
}

.inputText:focus-within {
  border-color: var(--active-border);
  box-shadow: 0 0 0 4px var(--active-shadow);
}

.inputTextLarge {
  padding: 10px 12px;
}

.inputTextXLarge {
  padding: 12px 12px;
}

.inputTextLarge input,
.inputTextXLarge input {
  font-size: 14px;
  line-height: 24px;
}

.inputTextXSmall {
  padding: 2px 12px;

  .iconContainer {
    width: 16px;
    height: 16px;
  }
}

.inputTextError {
  border-color: var(--error-border);
  box-shadow: 0 0 0 0 var(--error-shadow);

  &:focus-within {
    border-color: var(--error-border);
    box-shadow: 0 0 0 4px var(--error-shadow);
  }

  .iconContainer svg {
    color: var(--error-red);
  }
}

.inputTextDisabled {
  border-color: var(--text-disabled);
  box-shadow: none;

  input {
    color: var(--text-disabled);

    &::placeholder {
      color: var(--text-disabled);
    }
  }

  .iconContainer svg {
    color: var(--text-disabled);
  }
}

.inputTextQuiet {
  border: none;
  box-shadow: none;

  &:focus-within {
    border-color: transparent;
    box-shadow: none;
  }
}

